/* SCREEN WIDTH
   ========================================================================== */

@media screen and (max-width: 1245px) {
	.center {
		width: auto;
		padding-left: 2.5%;
		padding-right: 2.5%;
	}
	.boxed {
		width: 100%;
		padding: 0;		
	}
	.center .center {
		padding: 0;
	}
	#page-header {
		background-attachment: scroll;
	}

}
@media screen and (max-width: 1024px) {
	.flex-header {
		flex-direction: column;
	}
	.flex-header .td-1,
	.flex-header .td-3 {
		text-align: center;
	}
	.flex-header .td-1 {
		order: 1;
	}
	.flex-header .td-3 {
		order: 3;
		margin: 10px 0;
	}
	#nav .center {
		position: static;
	}
	#top-bar {
		display: none;
	}
	#menu-top-nav {
		display: none;
	}
	.mobile-top-bar #top-bar {
		display: block;
	}
	.header-v2 .logo img {
		height: 70px;
	}		
	.header-v2 .woocommerce-nav {
		position: static;
	}
	.header-v1 {
		position: relative;
	}
	.header-v1 .logo {
		float: none;
	}
	.header-container {
		padding-bottom: 0 !important;
	}
	.fixed {
		position: static;
	}
	.header-opacity .fixed {
		background: none;
	}
	.header-v1 #cart {
		right: 30px;
		bottom: 0;
		position: absolute;
	}

	.header-v2 #cart {
		display: block;
		line-height: 1;
		position: absolute;
		top: 35px;
		right: 30px;
	}
	.header-v2 #nav #cart {
    	display: none;
	}
	#cart:hover .widget_shopping_cart {
		display: none;
	}
	.icon-menu {
		visibility: visible;
		opacity: 1;
	}
	.primary-menu {
		position: fixed;
		background: rgba(0,0,0,0.9);
		left: -100%;
		width: 100%;
		height: 100%;
		text-align: center;
		padding-top: 90px;
		overflow-y: auto;
		z-index: 90;
		opacity: 0;
		top: 0;
		bottom: 0;
		visibility: hidden;
		transition: all 0.25s linear;
	}		
	.primary-menu.active {
		opacity: 1;
		visibility: visible;
		left: 0;
		font-size: 25px;
		font-weight: normal;
	}
	.primary-menu > li {
		float: none;
		display: block;
		font-weight: normal;
		line-height: 30px;
	}
	.primary-menu > li a {
		padding: 15px;
		display: inline-block;
	}
	.primary-menu .menu-item-has-children > a:after {
		display: none;
	}
	.primary-menu .menu-item-has-children > a.dropdown-toggle:after {
		display: inline-block;
	}
	a.dropdown-toggle {
		margin-left: 30px;
	}	
	button.dropdown-toggle {
		display: inline-block;
		background: none;
	}
	.primary-menu .sub-menu {
		text-align: center;
	}
	.primary-menu li > .sub-menu {
		margin: 0;
		font-size: 25px;
		border: 0 none;
		background: none;
		position: static;
		height: 0;
		overflow: hidden;
		transform: all 0.3s linear;
		text-transform: uppercase;
		color: #777;
	}
	.primary-menu li > .sub-menu .sub-menu {
		font-size: 20px;
		text-transform: none;
	}
	.primary-menu li:hover > .sub-menu {
		opacity: 0;
		visibility: hidden;
	}
	.primary-menu li > .sub-menu a {
		display: inline-block;
		min-width: inherit;
		padding: 15px;
	}
	.primary-menu li > .sub-menu.toggled-on {
		opacity: 1;
		visibility: visible;
		height: 100%;
	}
	.swiper-cat-next,
	.swiper-cat-prev {
		display: none;
		
	}	
}

@media screen and (max-width: 825px) {
	.cols-3 > * {
		float: none;
		width: 370px;
		display: inline-block;
		vertical-align: top;		
	}
	.cols-2 > *,
	.cols-2.no-margin > * {
		float: none;
		width: auto;
	}
	.like-table > * {
		display: block;
	}
	.col2-set > div {
		float: none;
		width: auto;		
	}
	#reviews {
		width: auto;
	}
	#product-single {
		width: 585px;
		margin: 0 auto;
	}
	.article .image {
		text-align: center;
	}
	.article.has-post-thumbnail .details {
		width: 100% !important;
		left: 0;
		top: 0;
	} 
	.cols-1 {
		width: auto;
	}	
	.section-title.has-bg {
		background-attachment: scroll;
	}
	.latest-news_list img {
		margin-bottom: 30px;
	}	
	#slider .attachment-full {
		max-height: 220px;
		width: auto;
	} 
}
@media screen and (max-width: 375px) {
	.cols-3 > * {
		width: auto;
		display: block;
	}
}
@media screen and (max-width: 1270px) {
	.product-nav {
		display: none;
	}
}
@media screen and (max-width: 1200px) {
	.has-sidebar #main {
		width: auto;
		float: none;
	}
	#right-sidebar {
		float: none;
		width: auto;
	}
	.right-sidebar #main,
	.right-sidebar .sidebar,
	.left-sidebar #main,
	.left-sidebar .sidebar,
	.right-sidebar-sp .content-section,
	.right-sidebar-sp .sidebar,
	.left-sidebar-sp .content-section,
	.left-sidebar-sp .sidebar {
		float: none;
		width: auto;
	}
}
@media screen and (max-width: 1070px) {
	.form-item {
		text-align: left;
	}
}

@media screen and (min-width: 769px) {
	.transparent-header .header, 
	.transparent-header .nav-color,
	.sticky-tr .header-v2 {
		background: none;
	} 

}

@media screen and (max-width: 768px) {
	.admin-bar .sticky-tr .header-wrap {
		margin-top: 0;
	}
	.mobile-top-bar .sticky-tr {
		width: 100%;
	    top: 0;
	    position: -webkit-sticky;
	    position: sticky;		
	}
	.mobile-top-bar .transparent-header .header, 
	.mobile-top-bar .transparent-header .nav-color {
		transition: none;
	}
	.mobile-top-bar #top-bar .header-info li {
		display: block;
		margin-right: 0;
		margin-left: 10px;
		line-height: 30px;
	}
	.mobile-top-bar #top-bar .social {
		float: none;
	}
	.admin-bar .fixed,
	.admin-bar.header-opacity .header-container {
		top: 46px;
	}
	.slider-button-prev,
	.slider-button-next {
		display: none;
	}
	.section-title .description {
		width: auto;
	}
	#page-slider .info,
	.section-title.has-bg .info {
		width: auto;
	}
	.shop_table_responsive th {
		display: none;
	}
	.shop_table_responsive .remove {
		font-size: 25px;
		float: none;
	}
	.shop_table_responsive .product-thumbnail {
		display: none;
	}
	.shop_table_responsive td {
		display: block;
		text-align: right;
		width: 100%;
	}
	.shop_table_responsive td:before{
		content: attr(data-title);
	    float: left;
	    font-size: 14px;
	}
	.shop_table_responsive .cart_item td {
		background-color: #f5f5f5;
	}
	.shop_table_responsive .product-subtotal {
		margin-bottom: 30px;
		border-bottom: 1px dashed #ccc;
	}
	.shop_table_responsive .product-remove {
		border-top: 1px dashed #ccc;
	}
	.cart-collaterals {
		float: none;
	}
	.cart .actions {
		border: 0;
	}
	.cart .product-remove {
		width: auto;
	}
	.bullet-4 {
		display: block;
	}
	.cart .coupon {
		float: none;
		max-width: inherit;
		width: 100%;
		margin-bottom: 30px;
	}
	#coupon_code {
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.cart .coupon .button {
		width: 100%;
	}
	.cart .update-cart {
		width: 100%;
	}
	.col-1 {
		width: auto;
	}
	.col-1 > * {
		padding-left: 0;
		padding-right: 0;
	}
	
}
@media screen and (max-width: 736px) {
	#slider h1 {
		font-size: 40px;
		font-size: 10vw;
	}
	#product-single {
		width: auto;
	}
	#product-single .details {
		padding: 30px;
	}
	#map {
		height: 240px;
	}
	.comment-form-author, .comment-form-email {
		float: none;
		width: 100%;
		padding: 0;
	}
	#testimonials-slider .content {
		width: auto;
	}
	.scroll {
		display: none;
	}
	#slider {
		padding: 60px 0;
	}
	#page-header {
		padding-top: 30px;
		height: 320px;	
    }	
	#page-header h1 {
		font-size: 10vmin;
	}    
	#page-slider .swiper-slide {
		height: auto;
	}	
	#page-slider .info {
		padding: 130px 10px 60px;
	}
	#page-slider h2 {
		font-size: 10vmin;
	}
}
@media screen and (max-width: 375px) {
	#product-list h2 {
		white-space: normal;	
	}

	.section-title h3 {
		font-size: 7vmin;
		line-height: 1;
		padding: 7px 7px 5px;
	}
	.section-title p {
		font-size: 12px;
	}	
	#payment label img {
		display: none;
	}
	.short-info h2 {
		font-size: 22px;
	}	
}